__pycache__/dataset_segment.cpython-39.pyc
__pycache__/train.cpython-39.pyc
dataset/original/B007_0.mat
dataset/original/B007_1.mat
dataset/original/B007_2.mat
dataset/original/B007_3.mat
dataset/original/B014_0.mat
dataset/original/B014_1.mat
dataset/original/B014_2.mat
dataset/original/B014_3.mat
dataset/original/B021_0.mat
dataset/original/B021_1.mat
dataset/original/B021_2.mat
dataset/original/B021_3.mat
dataset/original/IR007_0.mat
dataset/original/IR007_1.mat
dataset/original/IR007_2.mat
dataset/original/IR007_3.mat
dataset/original/IR014_0.mat
dataset/original/IR014_1.mat
dataset/original/IR014_2.mat
dataset/original/IR014_3.mat
dataset/original/IR021_0.mat
dataset/original/IR021_1.mat
dataset/original/IR021_2.mat
dataset/original/IR021_3.mat
dataset/original/normal_0.mat
dataset/original/normal_1.mat
dataset/original/normal_2.mat
dataset/original/normal_3.mat
dataset/original/OR007@6_0.mat
dataset/original/OR007@6_1.mat
dataset/original/OR007@6_2.mat
dataset/original/OR007@6_3.mat
dataset/original/OR014@6_0.mat
dataset/original/OR014@6_1.mat
dataset/original/OR014@6_2.mat
dataset/original/OR014@6_3.mat
dataset/original/OR021@6_0.mat
dataset/original/OR021@6_1.mat
dataset/original/OR021@6_2.mat
dataset/original/OR021@6_3.mat
dataset/presplit/x_anomaly_test.pt
dataset/presplit/x_anomaly_train.pt
dataset/presplit/x_mixed_test.pt
dataset/presplit/x_mixed_test2.pt
dataset/presplit/x_mixed_train.pt
dataset/presplit/x_mixed_train2.pt
dataset/presplit/x_normal_test.pt
dataset/presplit/y_mixed_test.pt
dataset/presplit/y_mixed_test2.pt
dataset/presplit/y_mixed_train.pt
dataset/presplit/y_mixed_train2.pt
dataset/segmented/DriveEnd/segmented_B007_0.csv
dataset/segmented/DriveEnd/segmented_B007_1.csv
dataset/segmented/DriveEnd/segmented_B007_2.csv
dataset/segmented/DriveEnd/segmented_B007_3.csv
dataset/segmented/DriveEnd/segmented_B014_0.csv
dataset/segmented/DriveEnd/segmented_B014_1.csv
dataset/segmented/DriveEnd/segmented_B014_2.csv
dataset/segmented/DriveEnd/segmented_B014_3.csv
dataset/segmented/DriveEnd/segmented_B021_0.csv
dataset/segmented/DriveEnd/segmented_B021_1.csv
dataset/segmented/DriveEnd/segmented_B021_2.csv
dataset/segmented/DriveEnd/segmented_B021_3.csv
dataset/segmented/DriveEnd/segmented_IR007_0.csv
dataset/segmented/DriveEnd/segmented_IR007_1.csv
dataset/segmented/DriveEnd/segmented_IR007_2.csv
dataset/segmented/DriveEnd/segmented_IR007_3.csv
dataset/segmented/DriveEnd/segmented_IR014_0.csv
dataset/segmented/DriveEnd/segmented_IR014_1.csv
dataset/segmented/DriveEnd/segmented_IR014_2.csv
dataset/segmented/DriveEnd/segmented_IR014_3.csv
dataset/segmented/DriveEnd/segmented_IR021_0.csv
dataset/segmented/DriveEnd/segmented_IR021_1.csv
dataset/segmented/DriveEnd/segmented_IR021_2.csv
dataset/segmented/DriveEnd/segmented_IR021_3.csv
dataset/segmented/DriveEnd/segmented_normal_0.csv
dataset/segmented/DriveEnd/segmented_normal_1.csv
dataset/segmented/DriveEnd/segmented_normal_2.csv
dataset/segmented/DriveEnd/segmented_normal_3.csv
dataset/segmented/DriveEnd/segmented_OR007@6_0.csv
dataset/segmented/DriveEnd/segmented_OR007@6_1.csv
dataset/segmented/DriveEnd/segmented_OR007@6_2.csv
dataset/segmented/DriveEnd/segmented_OR007@6_3.csv
dataset/segmented/DriveEnd/segmented_OR014@6_0.csv
dataset/segmented/DriveEnd/segmented_OR014@6_1.csv
dataset/segmented/DriveEnd/segmented_OR014@6_2.csv
dataset/segmented/DriveEnd/segmented_OR014@6_3.csv
dataset/segmented/DriveEnd/segmented_OR021@6_0.csv
dataset/segmented/DriveEnd/segmented_OR021@6_1.csv
dataset/segmented/DriveEnd/segmented_OR021@6_2.csv
dataset/segmented/DriveEnd/segmented_OR021@6_3.csv
dataset/segmented/FanEnd/segmented_B007_0.csv
dataset/segmented/FanEnd/segmented_B007_1.csv
dataset/segmented/FanEnd/segmented_B007_2.csv
dataset/segmented/FanEnd/segmented_B007_3.csv
dataset/segmented/FanEnd/segmented_B014_0.csv
dataset/segmented/FanEnd/segmented_B014_1.csv
dataset/segmented/FanEnd/segmented_B014_2.csv
dataset/segmented/FanEnd/segmented_B014_3.csv
dataset/segmented/FanEnd/segmented_B021_0.csv
dataset/segmented/FanEnd/segmented_B021_1.csv
dataset/segmented/FanEnd/segmented_B021_2.csv
dataset/segmented/FanEnd/segmented_B021_3.csv
dataset/segmented/FanEnd/segmented_IR007_0.csv
dataset/segmented/FanEnd/segmented_IR007_1.csv
dataset/segmented/FanEnd/segmented_IR007_2.csv
dataset/segmented/FanEnd/segmented_IR007_3.csv
dataset/segmented/FanEnd/segmented_IR014_0.csv
dataset/segmented/FanEnd/segmented_IR014_1.csv
dataset/segmented/FanEnd/segmented_IR014_2.csv
dataset/segmented/FanEnd/segmented_IR014_3.csv
dataset/segmented/FanEnd/segmented_IR021_0.csv
dataset/segmented/FanEnd/segmented_IR021_1.csv
dataset/segmented/FanEnd/segmented_IR021_2.csv
dataset/segmented/FanEnd/segmented_IR021_3.csv
dataset/segmented/FanEnd/segmented_normal_0.csv
dataset/segmented/FanEnd/segmented_normal_1.csv
dataset/segmented/FanEnd/segmented_normal_2.csv
dataset/segmented/FanEnd/segmented_normal_3.csv
dataset/segmented/FanEnd/segmented_OR007@6_0.csv
dataset/segmented/FanEnd/segmented_OR007@6_1.csv
dataset/segmented/FanEnd/segmented_OR007@6_2.csv
dataset/segmented/FanEnd/segmented_OR007@6_3.csv
dataset/segmented/FanEnd/segmented_OR014@6_0.csv
dataset/segmented/FanEnd/segmented_OR014@6_1.csv
dataset/segmented/FanEnd/segmented_OR014@6_2.csv
dataset/segmented/FanEnd/segmented_OR014@6_3.csv
dataset/segmented/FanEnd/segmented_OR021@6_0.csv
dataset/segmented/FanEnd/segmented_OR021@6_1.csv
dataset/segmented/FanEnd/segmented_OR021@6_2.csv
dataset/segmented/FanEnd/segmented_OR021@6_3.csv
history/autoencoder_history.csv
history/classifier_history.csv
history/results.csv
other/Arxiv.py
other/bearingset.py
other/concat_conf_10.png
other/concat.py
other/covariance_check.py
other/CV.py
other/dataset_segment.py
other/deneme.py
other/file_lengths.csv
other/file_lengths.py
other/gearset.py
other/normal_conf_10.png
other/NSAE-LCN.py
other/predictive.py
other/ReadData.py
other/roc results.csv
other/ROC.png
other/roc.py
other/test.py
other/tf_encoder.py
other/train.py
