CWRU/original/B007_0.mat
CWRU/original/B007_1.mat
CWRU/original/B007_2.mat
CWRU/original/B007_3.mat
CWRU/original/B014_0.mat
CWRU/original/B014_1.mat
CWRU/original/B014_2.mat
CWRU/original/B014_3.mat
CWRU/original/B021_0.mat
CWRU/original/B021_1.mat
CWRU/original/B021_2.mat
CWRU/original/B021_3.mat
CWRU/original/IR007_0.mat
CWRU/original/IR007_1.mat
CWRU/original/IR007_2.mat
CWRU/original/IR007_3.mat
CWRU/original/IR014_0.mat
CWRU/original/IR014_1.mat
CWRU/original/IR014_2.mat
CWRU/original/IR014_3.mat
CWRU/original/IR021_0.mat
CWRU/original/IR021_1.mat
CWRU/original/IR021_2.mat
CWRU/original/IR021_3.mat
CWRU/original/normal_0.mat
CWRU/original/normal_1.mat
CWRU/original/normal_2.mat
CWRU/original/normal_3.mat
CWRU/original/OR007@6_0.mat
CWRU/original/OR007@6_1.mat
CWRU/original/OR007@6_2.mat
CWRU/original/OR007@6_3.mat
CWRU/original/OR014@6_0.mat
CWRU/original/OR014@6_1.mat
CWRU/original/OR014@6_2.mat
CWRU/original/OR014@6_3.mat
CWRU/original/OR021@6_0.mat
CWRU/original/OR021@6_1.mat
CWRU/original/OR021@6_2.mat
CWRU/original/OR021@6_3.mat
CWRU/presplit/arxiv_singlechannel/x_test.pt
CWRU/presplit/arxiv_singlechannel/x_train.pt
CWRU/presplit/arxiv_singlechannel/y_test.pt
CWRU/presplit/arxiv_singlechannel/y_train.pt
CWRU/presplit/multichannel/x_test.pt
CWRU/presplit/multichannel/x_train.pt
CWRU/presplit/multichannel/y_test.pt
CWRU/presplit/multichannel/y_train.pt
CWRU/presplit/singlechannel/x_test.pt
CWRU/presplit/singlechannel/x_train.pt
CWRU/presplit/singlechannel/y_test.pt
CWRU/presplit/singlechannel/y_train.pt
CWRU/segmented/DriveEnd/segmented_B007_0.csv
CWRU/segmented/DriveEnd/segmented_B007_1.csv
CWRU/segmented/DriveEnd/segmented_B007_2.csv
CWRU/segmented/DriveEnd/segmented_B007_3.csv
CWRU/segmented/DriveEnd/segmented_B014_0.csv
CWRU/segmented/DriveEnd/segmented_B014_1.csv
CWRU/segmented/DriveEnd/segmented_B014_2.csv
CWRU/segmented/DriveEnd/segmented_B014_3.csv
CWRU/segmented/DriveEnd/segmented_B021_0.csv
CWRU/segmented/DriveEnd/segmented_B021_1.csv
CWRU/segmented/DriveEnd/segmented_B021_2.csv
CWRU/segmented/DriveEnd/segmented_B021_3.csv
CWRU/segmented/DriveEnd/segmented_IR007_0.csv
CWRU/segmented/DriveEnd/segmented_IR007_1.csv
CWRU/segmented/DriveEnd/segmented_IR007_2.csv
CWRU/segmented/DriveEnd/segmented_IR007_3.csv
CWRU/segmented/DriveEnd/segmented_IR014_0.csv
CWRU/segmented/DriveEnd/segmented_IR014_1.csv
CWRU/segmented/DriveEnd/segmented_IR014_2.csv
CWRU/segmented/DriveEnd/segmented_IR014_3.csv
CWRU/segmented/DriveEnd/segmented_IR021_0.csv
CWRU/segmented/DriveEnd/segmented_IR021_1.csv
CWRU/segmented/DriveEnd/segmented_IR021_2.csv
CWRU/segmented/DriveEnd/segmented_IR021_3.csv
CWRU/segmented/DriveEnd/segmented_normal_0.csv
CWRU/segmented/DriveEnd/segmented_normal_1.csv
CWRU/segmented/DriveEnd/segmented_normal_2.csv
CWRU/segmented/DriveEnd/segmented_normal_3.csv
CWRU/segmented/DriveEnd/segmented_OR007@6_0.csv
CWRU/segmented/DriveEnd/segmented_OR007@6_1.csv
CWRU/segmented/DriveEnd/segmented_OR007@6_2.csv
CWRU/segmented/DriveEnd/segmented_OR007@6_3.csv
CWRU/segmented/DriveEnd/segmented_OR014@6_0.csv
CWRU/segmented/DriveEnd/segmented_OR014@6_1.csv
CWRU/segmented/DriveEnd/segmented_OR014@6_2.csv
CWRU/segmented/DriveEnd/segmented_OR014@6_3.csv
CWRU/segmented/DriveEnd/segmented_OR021@6_0.csv
CWRU/segmented/DriveEnd/segmented_OR021@6_1.csv
CWRU/segmented/DriveEnd/segmented_OR021@6_2.csv
CWRU/segmented/DriveEnd/segmented_OR021@6_3.csv
CWRU/segmented/FanEnd/segmented_B007_0.csv
CWRU/segmented/FanEnd/segmented_B007_1.csv
CWRU/segmented/FanEnd/segmented_B007_2.csv
CWRU/segmented/FanEnd/segmented_B007_3.csv
CWRU/segmented/FanEnd/segmented_B014_0.csv
CWRU/segmented/FanEnd/segmented_B014_1.csv
CWRU/segmented/FanEnd/segmented_B014_2.csv
CWRU/segmented/FanEnd/segmented_B014_3.csv
CWRU/segmented/FanEnd/segmented_B021_0.csv
CWRU/segmented/FanEnd/segmented_B021_1.csv
CWRU/segmented/FanEnd/segmented_B021_2.csv
CWRU/segmented/FanEnd/segmented_B021_3.csv
CWRU/segmented/FanEnd/segmented_IR007_0.csv
CWRU/segmented/FanEnd/segmented_IR007_1.csv
CWRU/segmented/FanEnd/segmented_IR007_2.csv
CWRU/segmented/FanEnd/segmented_IR007_3.csv
CWRU/segmented/FanEnd/segmented_IR014_0.csv
CWRU/segmented/FanEnd/segmented_IR014_1.csv
CWRU/segmented/FanEnd/segmented_IR014_2.csv
CWRU/segmented/FanEnd/segmented_IR014_3.csv
CWRU/segmented/FanEnd/segmented_IR021_0.csv
CWRU/segmented/FanEnd/segmented_IR021_1.csv
CWRU/segmented/FanEnd/segmented_IR021_2.csv
CWRU/segmented/FanEnd/segmented_IR021_3.csv
CWRU/segmented/FanEnd/segmented_normal_0.csv
CWRU/segmented/FanEnd/segmented_normal_1.csv
CWRU/segmented/FanEnd/segmented_normal_2.csv
CWRU/segmented/FanEnd/segmented_normal_3.csv
CWRU/segmented/FanEnd/segmented_OR007@6_0.csv
CWRU/segmented/FanEnd/segmented_OR007@6_1.csv
CWRU/segmented/FanEnd/segmented_OR007@6_2.csv
CWRU/segmented/FanEnd/segmented_OR007@6_3.csv
CWRU/segmented/FanEnd/segmented_OR014@6_0.csv
CWRU/segmented/FanEnd/segmented_OR014@6_1.csv
CWRU/segmented/FanEnd/segmented_OR014@6_2.csv
CWRU/segmented/FanEnd/segmented_OR014@6_3.csv
CWRU/segmented/FanEnd/segmented_OR021@6_0.csv
CWRU/segmented/FanEnd/segmented_OR021@6_1.csv
CWRU/segmented/FanEnd/segmented_OR021@6_2.csv
CWRU/segmented/FanEnd/segmented_OR021@6_3.csv
other/bearingset.py
other/gearset.py
other/tf_encoder.py
saves/CWRU_Class_Weights.pt
saves/NSAELCN.pt
